*.7zip
*.a
*.bak
build/
_build/
build/
*.bz
*.bz2
.claude/
*.conda
conda-build/
*.core
*.coverage
*.css
*.csv
*.dat
*.db
dist/
*.dll
*.doc
*.docx
*.docm
downloads/
.DS_Store
*.dylib
*.egg-info/
*.env
*.exe
*.feather
*.html
htmlcov/
.idea/
*.js
*.json
linkcheck_output/
*.log
.lycheecache
*.lzma
.mypy_cache/
*.npy
*.o
out.txt
*.pdf
*.pem
*.ppt
*.pptx
*.pptm
*.pq
*.pub
*.pyc
__pycache__/
.pytest_cache/
*.rda
*.rds
*.Rdata
*.rsa
.ruff_cache/
scratch.md
_skbuild/
*.snappy-*.tar.gz
*.so
*.sqlite
*.tar.gz
*.tgz
*.tmp
tmp-dir/
.venv/
*.whl
*.xls
*.xlsx
*.xlsm
*.zip
*.zstd
